<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="MyTest">
    <classes>
      <class name="SalesforceSeptember.Contacts"/>
      <class name="SalesforceSeptember.Leads"/>
      <class name="SalesforceSeptember.CreateOPTY"/>
      <class name="SalesforceSeptember.LoginSalesForce"/>
      <class name="SalesforceSeptember.RandomScenarios"/>
      <class name="SalesforceSeptember.CreateAccounts"/>
      <class name="SalesforceSeptember.UserMenuSalesforce"/>
    </classes>
  </test> <!-- MyTest -->
</suite> <!-- Suite -->
